<ion-view view-title="Categories">
    <ion-content>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input id="searchKey" type="search" placeholder="Search" ng-model="menu" >
        </label>

        <div class="list" class="animate-ripple"> 
           
            <a class="item item-icon-right item-avatar" href="#/app/submenu">
                 <img src="img/br2.jpg"> 
                <h2>Foods</h2>
                <p>Food Categories</p> 
                <i class="icon ion-chevron-right muted"></i>
            </a>

            <a class="item item-icon-right item-avatar" href="#/app/submenu">
                <img src="img/soup1.jpg"> 
                <h2>Starters</h2> 
                <p>Starters Categories</p> 
                <i class="icon ion-chevron-right muted"></i>
            </a>

            <a class="item item-icon-right item-avatar" href="#/app/submenu">
                <img src="img/dessert-1.jpg"> 
                <h2>Ice Cream</h2> 
                <p>Ice Cream Categories</p> 
                <i class="icon ion-chevron-right muted"></i>
            </a>

            <a class="item item-icon-right item-avatar" href="#/app/submenu">
                <img src="img/drinks-32a.jpg"> 
                <h2>Drinks</h2> 
                <p>Drinks Categories</p> 
                <i class="icon ion-chevron-right muted"></i>
            </a>

            <!-- <a class="item item-avatar" href="#/app/extensions"> 
                <img src="img/br2.jpg"> 
                <h2>Foods</h2>
                <p>Food Categories</p> 
                <i class="icon ion-chevron-right muted"></i>
            </a> 
            <a class="item item-avatar">
                <img src="img/soup1.jpg"> 
                <h2>Starters</h2> 
                <p>Starters Categories</p> 
            </a> 
            <a class="item item-avatar"> 
                <img src="img/dessert-1.jpg"> 
                <h2>Deserts</h2> 
                <p>Deserts Categories</p> 
            </a> 
            <a class="item item-avatar"> 
                <img src="img/drinks-32a.jpg"> 
                <h2>Drinks</h2> 
                <p>Drinks Categories</p> 
            </a>  -->
        </div>                 
    </ion-content>
</ion-view>
