<ion-view view-title="Latest Offers">
<style type="text/css">
.full-image{

    width: 100%;
    height: auto;

}
</style>
   <ion-content>
        <div class="card" style="transition-delay: 0.13s; border:solid 1px red;">
            <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
                <h2>Grilled Eggplant Rolls</h2>
                <p>Buy 2 Get 1 Free</p>
                <img class="full-image" src="img/eggplant-roll.jpg" style="transition-delay: 0.02s;">
            </a>
            <button id="fab" class="button button-assertive button-fab-bottom-right">
                <i class="icon ion-ios-cart-outline"></i>
            </button>
        </div>
        <div class="card" style="transition-delay: 0.13s; border:solid 1px red;">
            <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
                <h2>DESSERT</h2>
                <p>Buy 2 Get 1 Free</p>
                <img class="full-image" src="img/dessert-1.jpg" style="transition-delay: 0.02s;">
            </a>
            <button id="fab" class="button button-assertive button-fab-bottom-right">
                <i class="icon ion-ios-cart-outline"></i>
            </button>
        </div>
        <div class="card in" style="transition-delay: 0.13s; border:solid 1px red;">
            <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
                <h2>CHOCO DESSERT</h2>
                <p>Buy 3 Get 1 Free</p>
                <img class="full-image" src="img/chocolate-delite.jpg" style="transition-delay: 0.02s;">
            </a>
            <button id="fab" class="button button-assertive button-fab-top-right">
                <i class="icon ion-ios-cart-outline"></i>
            </button>
        </div>
        <div class="card in" style="transition-delay: 0.13s; border:solid 1px red;">
            <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
                <h2>MUTTON BIRYANI</h2>
                <p>Buy 2 Get 1 Free</p>
                <img class="full-image" src="img/mutton.jpg" style="transition-delay: 0.02s;">
            </a>
            <button id="fab" class="button button-assertive button-fab-bottom-right">
                <i class="icon ion-ios-cart-outline"></i>
            </button>
        </div>
        <div class="card in" style="transition-delay: 0.13s; border:solid 1px red;">
            <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
                <h2>CHICKEN BIRYANI</h2>
                <p>Buy 2 Get 1 Free</p>
                <img class="full-image" src="img/aboutfood.jpg" style="transition-delay: 0.02s;">
            </a>
            <button id="fab" class="button button-assertive button-fab-bottom-right">
                <i class="icon ion-ios-cart-outline"></i>
            </button>
        </div>
    </ion-content>
</ion-view>
