<ion-view view-title="Gallery">
    <ion-content class="im-wrapper ">
        <div class="has-subheader">  
            <div class="list half">
                <div class="card card-gallery item">
                    <img src="img/soup1.jpg" class="full-image">
                </div>
                <div class="card card-gallery item">
                    <img src="img/soup2.jpg" class="full-image">
                </div>
                <div class="card card-gallery item">
                    <img src="img/soup1.jpg" class="full-image">
                </div>
                <div class="card card-gallery item">
                    <img src="img/soup2.jpg" class="full-image">
                </div>
            </div>
            <div class="list half">
                <div class="card card-gallery item">
                    <img src="img/soupss.jpg" class="full-image">
                </div>
                <div class="card card-gallery item">
                    <img src="img/photo-4.jpg" class="full-image">
                </div>
                <div class="card card-gallery item">
                    <img src="img/soupss.jpg" class="full-image">
                </div>
                <div class="card card-gallery item">
                    <img src="img/photo-4.jpg" class="full-image">
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
