<ion-view view-title="Gallery">
    <ion-content class="im-wrapper">
        <!-- <div class="list card">   -->          
            <!-- <div class="item item-avatar">
                <img src="img/logdo.jpg">
                <h2>Brand Box</h2>
                <p>Dubai</p>
            </div> -->

            <!-- <div class="item item-body">
                <img class="full-image" src="img/aboutfood.jpg"><br>                                
            </div>  -->
            <div class="row">
                <div class="col col-50"><img class="full-image" src="img/aboutfood1.jpg"></div>
                <div class="col col-50"><img class="full-image" src="img/aboutfood1.jpg"></div>
            </div>
            <div calss="row">
                <div class="col col-50"><img class="full-image" src="img/aboutfood1.jpg"></div>
                <div class="col col-50"><img class="full-image" src="img/aboutfood1.jpg"></div>
            </div>  
            <div calss="row">
                <div class="col col-50"><img class="full-image" src="img/aboutfood1.jpg"></div>
                <div class="col col-50"><img class="full-image" src="img/aboutfood1.jpg"></div>
            </div>        
        <!-- </div> -->
    </ion-content>
</ion-view>
