<ion-view view-title="Gallery">
    <ion-content class="im-wrapper">
<div class="has-subheader">  
  <div class="list half in done" style="transition-delay: 0.13s;">
                <div class="card card-gallery item item-text-wrap dark-bg">
                    <div class="waves-effect waves-block waves-dark">
                        <img src="img/soup1.jpg" class="full-image">
                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left subdued">
                        <a class="tab-item waves-effect waves-block waves-dark light-bg">
                            <i class="icon ion-heart assertive"></i> 8
                        </a>
                        <a class="tab-item waves-effect waves-block waves-dark light-bg">
                            <i class="icon ion-chatbubbles positive"></i> 2
                        </a>
                    </div>
                </div>
                <div class="card card-gallery item item-text-wrap dark-bg">
                    <div class="waves-effect waves-block waves-dark">
                        
                        <img src="img/soup2.jpg" class="full-image">
                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item waves-effect waves-block waves-dark light-bg">
                            <i class="icon ion-heart assertive"></i> 8
                        </a>
                        <a class="tab-item waves-effect waves-block waves-dark light-bg">
                            <i class="icon ion-chatbubbles positive"></i> 3
                        </a>
                    </div>
                </div>
            </div>
<div class="list half in" style="transition-delay: 0.25s;">
                <div class="card card-gallery item item-text-wrap dark-bg">
                    <div class="waves-effect waves-block waves-dark">
                        
                        <img src="img/soupss.jpg" class="full-image">
                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left subdued">
                        <a class="tab-item waves-effect waves-block waves-dark light-bg">
                            <i class="icon ion-heart assertive"></i> 4
                        </a>
                        <a class="tab-item waves-effect waves-block waves-dark light-bg">
                            <i class="icon ion-chatbubbles positive"></i> 2
                        </a>
                    </div>
                </div>
                <div class="card card-gallery item item-text-wrap dark-bg">
                    <div class="waves-effect waves-block waves-dark">
                        <img src="img/photo-4.jpg" class="full-image">
                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left subdued">
                        <a class="tab-item waves-effect waves-block waves-dark light-bg">
                            <i class="icon ion-heart assertive"></i> 6
                        </a>
                        <a class="tab-item waves-effect waves-block waves-dark light-bg">
                            <i class="icon ion-chatbubbles positive"></i> 1
                        </a>
                    </div>
                </div>
            </div>       
</div>       



     
    </ion-content>
</ion-view>
