<ion-view view-title="Menu Categories">
    <ion-content>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input id="searchKey" type="search" placeholder="Search" ng-model="menu" >
        </label>
         <div class="list">
            <a class="item item-thumbnail-left" href="#">
              <img src="img/mutton.jpg">
              <h2>ITEM: Muttton Biryani</h2>
              <p><span>Price: </span>100</p>
              <p><span>Sub Total: </span>300 AED</p>
            </a>
            <div class="item" >
              <div class="button-bar">
                <button class="button">
                  <img src="img/minus.png" style="width:20px"  >
                </button>
                <input type="button" value="3"  class="button quantity1">
                <button class="button" id="plus" value="1"> 
                  <img src="img/plus.png" style="width:20px"> 
                </button>
                <button class="button text-center icon-left ion-ios-cart"> 
                </button>
                 <a class="button text-center ion-information button-assertive" href="#/"  ></a>
              </div>
            </div>

            <a class="item item-thumbnail-left" href="#">
              <img src="img/check.jpg">
              <h2>ITEM: Chicken Biryani</h2>
              <p><span>Price: </span>75 AED</p>
              <p><span>Sub Total: </span>150 AED</p>
            </a>
            <div class="item" >
              <div class="button-bar">
                <button class="button">
                  <img src="img/minus.png" style="width:20px"  >
                </button>
                <input type="button" value="2"  class="button quantity1">
                <button class="button" id="plus" value="1"> 
                  <img src="img/plus.png" style="width:20px"> 
                </button>
                <button class="button text-center icon-left ion-ios-cart"> 
                </button>
                 <a class="button text-center ion-information button-assertive" href="#/"  ></a>
              </div>
            </div>


            <a class="item item-thumbnail-left" href="#">
              <img src="img/soupss.jpg">
              <h2>ITEM: Chilled cucumber soup</h2>
              <p><span>Price: </span>21 AED</p>
              <p><span>Sub Total: </span>64 AED</p>
            </a>
            <div class="item" >
              <div class="button-bar">
                <button class="button">
                  <img src="img/minus.png" style="width:20px"  >
                </button>
                <input type="button" value="3"  class="button quantity1">
                <button class="button" id="plus" value="1"> 
                  <img src="img/plus.png" style="width:20px"> 
                </button>
                <button class="button text-center icon-left ion-ios-cart"> 
                </button>
                 <a class="button text-center ion-information button-assertive" href="#/"  ></a>
              </div>
            </div>

            <a class="item item-thumbnail-left" href="#">
              <img src="img/icecream.jpg">
              <h2>ITEM: Chocolate truffle</h2>
              <p><span>Price: </span>42 AED</p>
            </a>
            <div class="item" >
              <div class="button-bar">
                <button class="button">
                  <img src="img/minus.png" style="width:20px"  >
                </button>
                <input type="button" value="1"  class="button quantity1">
                <button class="button" id="plus" value="1"> 
                  <img src="img/plus.png" style="width:20px"> 
                </button>
                <button class="button text-center icon-left ion-ios-cart"> 
                </button>
                 <a class="button text-center ion-information button-assertive" href="#/"  ></a>
              </div>
            </div>


        </div>



    </ion-content>
</ion-view>
