<ion-view view-title="Login">
    <ion-content class="im-wrapper" style="background-image: url('img/backhome.jpg');">
      <div><img id="circle" src="img/logdo.jpg"></div>
      <div class="list">
        <label class="item item-input item-floating-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="First Name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Last Name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Email">
      </label>
    </div>
  </icon-content>
</incon-view>