<ion-view view-title="Login">
    <ion-content class="im-wrapper" style="background-color:#E0E0E0">
      <div>
        <img id="circle" src="img/logo.jpg">        
      </div>
      <div class="list">    
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">password</span>
        <input type="password" placeholder="password">
      </label>
      <button class="button button-full button-balanced">
        Sign in
      </button>
    </div>
  </icon-content>
</incon-view>