<ion-view view-title="My Account">
    <ion-content class="im-wrapper">
        <div class="list card">            
            <div class="item item-avatar">
                <img src="img/person.jpg">
                <h2>Jack</h2>
                <p>Dubai</p>
            </div>

            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">First Name</span>
                    <input id="colorButton1" type="text" placeholder="James" Value="Paul">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Last Name</span>
                    <input id="colorButton1" type="text" placeholder="Jackson" Value="Parker">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input id="colorButton1" type="text" placeholder="brand@yahoo.com" Value="paulpark@yahoo.com">
                </label>
                <label  class="item item-input item-select">
                <div  class="input-label">
                    Country
                </div>
                <select>
                    <option>Argentina</option>                    
                    <option>Aruba</option>
                    <option selected>India</option>
                    <option >Malawi</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    State
                </div>
                <select>
                    <option>Assam</option>
                    <option selected>Tamil Nadu</option>
                    <option>Uttar Pradesh</option>
                </select>
            </label>
             <label class="item item-input item-select">
                <div class="input-label">
                    City
                </div>
                <select>
                    <option>Chennai</option>
                    <option selected>Kolkata</option>
                    <option>Mumbai</option>
                </select>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Area</span>
                <input id="colorButton1" type="text" placeholder="Brown Nagar" Value="Penko street">
            </label>
            <button class="button button-full button-balanced">
                UPDATE
            </button> 
            </div>
        </div>
    </ion-content>
</ion-view>
