<ion-view view-title="Register Here">
    <ion-content>
        <div id="logoDiv">
            <img id="circle1" src="img/logo.jpg">        
        </div>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">First Name</span>
                <input id="colorButton1" type="text" placeholder="James">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Last Name</span>
                <input id="colorButton1" type="text" placeholder="Khoonr">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input id="colorButton1" type="text" placeholder="Jameskhoonr@yahoo.com">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Mobile</span>
                <input id="colorButton1" type="text" placeholder="9999444411">
            </label>
            <label  class="item item-input item-select">
                <div  class="input-label">
                    Country
                </div>
                <select>
                    <option>Argentina</option>                    
                    <option>Aruba</option>
                    <option selected>India</option>
                    <option >Malawi</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    State
                </div>
                <select>
                    <option>Assam</option>
                    <option selected>Tamil Nadu</option>
                    <option>Uttar Pradesh</option>
                </select>
            </label>
             <label class="item item-input item-select">
                <div class="input-label">
                    State
                </div>
                <select>
                    <option>Assam</option>
                    <option selected>Tamil Nadu</option>
                    <option>Uttar Pradesh</option>
                </select>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Area</span>
                <input id="colorButton1" type="text" placeholder="Brown Nagar">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Password</span>
                <input id="colorButton1" type="password" placeholder="Password">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Confirm Password</span>
                <input id="colorButton1" type="password" placeholder="Password">
            </label>                            
            <label class="toggle toggle-balanced">
                <input type="checkbox">
                <div class="track">
                    <div class="handle"></div>
                </div>
                Terms and Condition
            </label>
            <button id="signIn" class="button button-full e button-balanced">
            SUBMIT
            </button>
        </div>             
    </ion-content>
</ion-view>