<ion-view view-title="Menu Categories">
    <ion-content>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input id="searchKey" type="search" placeholder="Search" ng-model="menu" >
        </label>

        <div class="list" class="animate-ripple"> 
           <a class="item item-avatar" href="#/app/items"> 
                <img src="img/br2.jpg"> 
                <h2>Briyani</h2>
                <p>Food Categories</p> 
            </a> 
            <a class="item item-avatar"  href="#/app/items">
                <img src="img/soup1.jpg"> 
                <h2>Soups</h2> 
                <p>Starters Categories</p> 
            </a> 
            <a class="item item-avatar" href="#/app/items"> 
                <img src="img/dessert-1.jpg"> 
                <h2>Milk Shake</h2> 
                <p>Ice Cream Categories</p> 
            </a> 
            <a class="item item-avatar" href="#/app/items"> 
                <img src="img/drinks-32a.jpg"> 
                <h2>Cool Drings</h2> 
                <p>Drinks Categories</p> 
            </a> 
        </div>                 
    </ion-content>
</ion-view>
